body {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  .perfil-wrapper {
    background-color: #218754;
    max-width: 800px;
    margin: 80px auto;
    padding: 50px;
  }

  .perfil-card {
    background-color: white;
    position: relative;
    padding: 60px 20px 20px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  .perfil-img {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
  }

  .perfil-nome {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }

  .perfil-email {
    font-size: 16px;
    color: #000000;
  }

  .perfil-item {
    border-top: 1px solid black;
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
  }